<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickorderservice.mapper.OwnerMapper">

    <insert id="insertOwner">
        INSERT INTO owners (ownerId,password,name,tel,email)
        VALUES (#{ownerId},#{password},#{name},#{tel},#{email})
    </insert>

    <select id="selectAllOwners" resultType="com.quickorderservice.dto.owner.OwnerDTO">
        SELECT uid, ownerId, password, name, tel, email
        FROM owners
    </select>

    <select id="selectOwnerById" resultType="com.quickorderservice.dto.owner.OwnerDTO">
        SELECT uid, ownerId, password, name, tel, email
        FROM owners
        WHERE ownerId = #{ownerId}
    </select>

    <select id="selectOwnerByIdAndPassword" resultType="com.quickorderservice.dto.owner.OwnerDTO">
        SELECT uid, ownerId, password, name, tel, email
        FROM owners
        WHERE ownerId = #{ownerId}
        AND password = #{password}
    </select>

    <select id="selectOwnerByUid" resultType="com.quickorderservice.dto.owner.OwnerDTO">
        SELECT uid, ownerId, password, name, tel, email
        FROM owners
        WHERE uid = #{uid}
    </select>
</mapper>