<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickorderservice.mapper.RestaurantMapper">

    <insert id="insertRestaurant">
        INSERT INTO restaurants (ownerId, name, tel, category)
        VALUES (#{ownerId}, #{res.name}, #{res.tel}, #{res.category})
    </insert>

    <select id="selectRestaurantsByOwnerId" resultType="com.quickorderservice.dto.restaurant.RestaurantDTO">
        SELECT *
        FROM restaurants
        WHERE ownerId = #{ownerId}
    </select>

    <select id="selectRestaurants" resultType="com.quickorderservice.dto.restaurant.RestaurantDTO">
        SELECT *
        FROM restaurants
        <if test="category != null">
            WHERE category = #{category}
        </if>
        LIMIT #{limit} OFFSET #{offset};
    </select>

</mapper>